body{
    font-family: Arial, helvetica;
    background-size: cover;


}

.menu{
    text-align: center;
    list-style: none;
    background: none;
    width: 150px;
    max-width: 200px;
    display: inline;
    margin: 20px;
    padding: 20px;
    border-width: 20px;
    font-size: 20px;
}

.menu li a{
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    display: inline;
}

.menu li{
    display: inline;
    text-align: center;
}

.menu li a:hover{
    background: #04389d;
}

h1 {
    color: #000000;
    font-weight: normal;
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: left;
    margin-top: 20px;
    position: center;
    left: 50%;
    top: 50%;

}

p{
    text-align: center;
}


.menu2{
    text-align: left;
    list-style: none;
    background: none;
    width: 150px;
    max-width: 200px;
    display: inline;
    margin: 20px;
    padding: 20px;
    border-width: 20px;
    font-size: 20px;
}

h2 {
    color: #000000;
    font-weight: normal;
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: left;
    margin-top: 20px;
    position: center;
    left: 50%;
    top: 50%;

}

.primero {
    background: #3e78f8;
}
.segundo{
    background: #b1b7c7;
}

.tercero{
    background: #b1b7c7;
}